::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 1rem;
  min-height: 60px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #757575;
}
::-webkit-scrollbar-thumb:active {
  background-color: #424242;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
[data-user-color-scheme='dark'] ::-webkit-scrollbar-thumb {
  background-color: #687582;
}
[data-user-color-scheme='dark'] ::-webkit-scrollbar-thumb:hover {
  background-color: #9da8b3;
}
[data-user-color-scheme='dark'] ::-webkit-scrollbar-thumb:active {
  background-color: #c5d0db;
}
.copy-btn {
  font-size: 1rem;
  color: #2f4f4f;
}
.copy-btn > i {
  font-size: 1rem !important;
  font-weight: bold;
}
[data-user-color-scheme='dark'] .copy-btn {
  color: #c4c6c9;
  transition: color 0.2s ease-in-out;
}
.category .row {
  border-radius: 1rem;
}
.category .category-item {
  border-radius: 1rem;
}
.category .category-post-list {
  border-radius: 1rem;
}
.list-group {
  border-radius: 1rem;
}
.list-group-item {
  border-radius: 1rem;
}
.links .card-body {
  border-radius: 1rem;
}
.navbar .nav-item .nav-link {
  border-radius: 0.5rem;
}
.navbar .dropdown-menu {
  border-radius: 0.5rem;
}
.navbar .dropdown-item {
  border-radius: 0.25rem;
}
#board {
  border-radius: 1rem;
}
#scroll-top-button {
  border-radius: 0.5rem;
}
.navbar-title {
  outline: none;
  --c: #20b2aa;
  text-shadow: 0 0 10px var(--c), 0 0 20px var(--c), 0 0 40px var(--c), 0 0 80px var(--c), 0 0 160px var(--c);
  animation: animate 5s linear infinite;
}
.toc-body > ol {
  position: absolute;
}
.toc-list-item::before {
  content: '';
  position: absolute;
  left: 0.25rem;
  height: 0.25rem;
  margin: 0.625rem 0;
  width: 0.25rem;
  border-radius: 0.125rem;
  background: #000;
  visibility: hidden;
  transition: height 0.2s ease-in-out, margin 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.toc-list-item.is-active-li::before {
  height: 1rem;
  margin: 0.25rem 0;
  visibility: visible;
}
[data-user-color-scheme='dark'] .tocbot-active-link {
  color: #ffa500;
}
[data-user-color-scheme='dark'] .toc-list-item::before {
  background: #ffa500;
  transition: background 0.2s ease-in-out;
}
@-moz-keyframes animate {
  to {
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes animate {
  to {
    filter: hue-rotate(360deg);
  }
}
@-o-keyframes animate {
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes animate {
  to {
    filter: hue-rotate(360deg);
  }
}
